.cards-list {
  padding: 0 15px 67px 15px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  min-height: calc(100vh - 102px);
}

@media screen and (max-width: 544px) {
  .cards-list {
    gap: 40px;
  }
}