.main-page {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(black, transparent, black),
  url('../../images/Pattern-min.png') center;
}

.main-page__title {
  padding-top: 36px;
  margin-bottom: 24px;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 36px;
  font-weight: 200;
  color: #fff;
}

@media screen and (max-width: 544px) {
  .main-page__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 360px) {
  .main-page__title {
    font-size: 24px;
  }
}

